.title-bar{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

body{
	font-family: "calibri", sans-serif;
	margin: 10;
}

.login-signup{
    text-align: right;
}

.search-bar{
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-title{
	text-align: center;
	font-size: 150px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding-bottom: 0px;
    font-weight: bold;
    line-height: 120px;
}
.red{
	color: red;
}

.sub-title{
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 30px;
    margin-bottom: 35px;	
}

.post-scroll-title{
    font-size: 55px; 
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 40px;

}   

.profile-pic{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	object-fit: cover;
	margin-left: 0px;
	margin-right: 2px;
}

.user-id-block{
    display: grid;
    grid-template-columns: 70px 1fr;
}

.hike-tag{
	background-color: green;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 20px;
    margin: 2px;
}

.directions-icon{
    max-height: 55px;
    max-width: 55px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px
}

.post-length{
    font-size: 20px;
    margin-bottom: 3px;
}

.post-difficulty{
    font-size: 20px;
    margin-top: 3px;
}

.video-youtube{
    width: 90%;
    height: 100%;
    
}


.map-google{
    width: 90%;
    height: 100%;
 
}

.post-scroll{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scroll-info-block{
    display: grid;
    grid-template-columns: .55fr .45fr;
}



.post-length, .post-difficulty{
    text-align: right;
}

.post-length{
    margin-top: 50px;
}
.post-difficulty{
    margin-bottom: 50px;
}

.post-author{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.activity-count{
    margin-top: 0px;
    margin-bottom: 5px;
}

.video-map-column{
    display: grid;
    place-items: center;
}

@media screen and (max-width: 768px) {
    .video-map-column {
        width: 100%; /* Ensure the container takes up the full width on mobile */
    }

    .video-map-column iframe {
        width: 100%; /* Make iframes fill the entire width of the container */
        height: 60vh; /* Adjust height for smaller screens */
