.title-bar{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

body{
	font-family: "calibri", sans-serif;
    margin: 0;
}

.login-signup{
    text-align: right;
}

.search-bar{
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-title{
	text-align: center;
	
	margin-bottom: 0px;
	margin-top: 5px;
	padding-bottom: 0px;
    font-weight: bold;
    font-size: 8em;
    height: 1em; 
}
.red{
	color: red;
}

.sub-title{
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 3.5vw;
    margin-bottom: 35px;	
}

.post-scroll-title{
    font-size: 2em; 
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 40px;

}   

.profile-pic{
	height: 3em;
	width: 3em;
	border-radius: 1.5em;
	object-fit: cover;
	margin-left: 0px;
}

.user-id-block{
    display: grid;
    grid-template-columns: 3.3em 1fr;
}

.hike-tag{
	background-color: green;
	color: white;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 20px;
	font-size: 1em;
    margin: 2px;
}

.directions-icon{
    max-height: 55px;
    max-width: 55px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px
}

.post-length{
    font-size: 1em;
    margin-bottom: 3px;
}

.post-difficulty{
    font-size: 1em;
    margin-top: 3px;
}

.video-youtube{
    width: 90%;
    height: 100%;
    
}


.map-google{
    width: 90%;
    height: 100%;
 
}

.post-scroll{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scroll-info-block{
    display: grid;
    grid-template-columns: .55fr .45fr;
}



.post-length, .post-difficulty{
    text-align: right;
}

.post-length{
    margin-top: 50px;
}
.post-difficulty{
    margin-bottom: 50px;
}

.post-author{
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.activity-count{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: .8em;
}

.video-map-column{
    display: grid;
    place-items: center;
    height: 100%;
}
