body{
	font-family: "Fira+Sans", sans-serif;
}

.red{
	color: red;
}

.main-title{
	text-align: center;
	font-size: 130px;
	margin-bottom: 15px;
	margin-top: 30px;
}

.sub-title{
	text-align: center;
	font-size: 30px;	
}

.main-post{

	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	background-color: #f0f0f0;
	width: fit-content;
	align-content: middle;
	margin: auto;
	margin-bottom:30px;
	padding-bottom:10px;
}
.video-gps{
	dispaly: grid;
	grid-template-columns: 1fr 1fr;
}

.post-info{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.video-youtube{
	padding: 15px;
}

.map-google{
	padding: 15px;	


}

.post-title{
	font-size: 50px;
	margin: 0px;
	text-align: center;

}

.post-author{
	font-size: 20px;
}

.post-length{
	font-size: 15px;

}

.pedal-tag{
	background-color: blue;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 20px;
	border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.shop-tag{
	background-color: yellow;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.hike-tag{
	background-color: green;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 20px;

}

.profile-pic{
	height: 80px;
	width: 80px;
	border-radius: 40px;
	object-fit: cover;
}

.generic-tag{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.user-block{
	text-align: center;
	margin: auto;
}

.difficulty-block{
	text-align: center;
	margin: auto;
}

.difficulty-title{
	font-size: 20px;
	margin: 0px;
	text-align: center;
}

.difficulty-ident{
	font-size: 75px;
	margin: 0px;
	color: lightgreen;

}

.difficulty-description{
	margin: 0px;
	font-size: 20px;
}